.app{

    justify-items: center;
}

button{
    background-color: #fff;
    border: none;
    border-radius: 15%;
    max-height: 60px;
    max-width: 100px;
    min-height: 25px;
    min-width: 50px;
    color: black;
    border: solid rgb(155, 155, 155) 1px;
}


.outerContainer{
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 20px;
    height: 700px;
    width: 1400px;
    background-color: #7886C7;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #7886C7;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.searchReturn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.profileContainer {
    position: relative;
    background-color: #FFF2F2;
    gap: 10px;
    border-radius: 10px;
    padding: 30px;
    left: 300px;
}

.profilePic img {
    gap: 10px;
    height: 250px;
    width: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 125px;
    border: 5px solid black;

}

.profilePic img:hover {
    background-color: blue;
    transform: scale(1.1);
    border: 2px solid black;

}

input:focus {
    outline: none;
    border: 1px solid black;
}
input{
    border-radius: 10px;
    padding: 6px;
}

input:hover {
    transform: scale(1.01);
    border: 2px solid black;
}

.profileUserInfo {
    position: relative;
    gap: 10px;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileUserImages img {
    height: 50px;
    outline: none;
    border: 2px solid black;
    border-radius: 2px;

}

.profileUserImages:focus {
    outline: none;
    border: 1px solid black;
}

.profileUserImages img:hover {
    background-color: rgb(230, 230, 218);
    transform: scale(2.3);
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

.profileAge {
    font-weight: bolder;
}

.profileGender {}

.profileOccupation {}

.profileInterests {}

.friends {
    cursor: pointer;
    border: 1pxx solid black;
}

button:hover {
    background-color: rgb(230, 230, 218);
    transform: scale(1.1);
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

button:focus {
    outline: none;
    border: 1px solid black;
}

.friend:focus {
    outline: none;
    border: 1px solid black;
}

.searchResult{
    position: relative;

    background-color: blueviolet;
    max-height: 800px;
    max-width: 600px;
    overflow-y: auto;

    
}